#
# {{ ansible_managed }}
#
####
## Source descriptions:
##

# docs: http://docs.fluentd.org/articles/free-alternative-to-splunk-by-fluentd
<source>
  type syslog
  port 42185
  tag syslog
</source>

<source>
  type forward
</source>

####
## Output descriptions:
##

<match syslog.**>
  type elasticsearch
  logstash_format true
  flush_interval 10s # for testing
</match>

# more docs: http://docs.fluentd.org/articles/config-file

